.container {
    height: 7vh;
    display: flex;
    align-items: center;
    overflow-x: scroll;
    white-space: nowrap;
    background-color: var(--bg);
    z-index: 50;
}

.innerContainer {
    height: 100%;
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow-x: auto; /* Enables horizontal scrolling */
    -ms-overflow-style: none; /* For IE/Edge */
    scrollbar-width: none; /* For Firefox */
    -webkit-overflow-scrolling: touch; 
}

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.container::-webkit-scrollbar {
    display: none;
}

.link {
    display: flex;
    padding: 0 2vh;
    align-items: center;
    height: 100%;
    font-size: var(--name);
    font-weight: 700;
    border-top: 2px solid var(--text);
    border-bottom: 2px solid var(--text);
}

.linkSub {
    border-bottom: 2px solid var(--brand);
}
