.container {
    display: flex;
    width: 100vw;
}

.menu {
    flex: 1;
    background-color: var(--bgBrand);
    min-height: 100vh;
    color: var(--textBright);
}

.content {
    display: flex;
    flex-direction: column;
    flex: 5;
    padding: 24px;
    gap: 24px;
}



@media  (max-width: 799px) {

    .menu {
        display: none;
    }

    .content {
        padding: 0;
        gap: 24px;
    }

}