.container {
    position: sticky;
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    overflow: hidden;
    background-color: var(--brand);
    height: 100%;
    color: var(--bg);
}

.link {
    display: flex;
    padding: 40px 0px 8px 0px;
    align-items: center;
    justify-content: center;

}

.logo {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: var(--padding);
}

.title {
    font-size: 32px;
    font-weight: 700;
}

.list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1vh;
    padding: 1vh 0px 1vh 20px;
}

.logoutContainer {
    padding: var(--padding);
    display: flex;
    align-items: center;
    justify-self: center;
}

