.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25vw;
    height: 25vh;
    box-shadow: 24;
    padding: 40px;
    border-radius: 10px;
    background-color: var(--bg);
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

.closeButton {
    position: absolute;
    top: 16px;
    right: 16px;
    cursor: pointer;
    color: var(--bgBrand);
}

.inputContainer {
    display: flex;
    flex-direction: row;
    gap: 1vw;
    align-items: flex-end;
}

.input {
    height: 40px;
    border: none;
    border-bottom: 2px solid var(--brandO);
    padding: 0 10px;
    font-family: inherit;
    color: var(--text);
    outline: none !important;
    width: 100%;
    text-transform: capitalize;
    background-color: var(--bg);
}

.input:focus {
    border-bottom: 2px solid var(--brand);
}

.addButton {
    border: none;
    background-color: var(--brand);
    color: var(--bg);
    padding: 4px 16px;
    height: 30px;
    border-radius: 10px;
    cursor: pointer;
}

.addButton:hover {
    background-color: var(--bgBright);
    color: var(--bgBrand);
}
